---
http_interactions:
- request:
    method: post
    uri: https://otx.alienvault.com/taxii/discovery
    body:
      encoding: UTF-8
      string: <taxii_11:Discovery_Request xmlns:taxii="http://taxii.mitre.org/messages/taxii_xml_binding-1"
        xmlns:taxii_11="http://taxii.mitre.org/messages/taxii_xml_binding-1.1" xmlns:tdq="http://taxii.mitre.org/query/taxii_default_query-1"
        message_id="00168625617301953831"/>
    headers:
      X-Taxii-Services:
      - urn:taxii.mitre.org:services:1.1
      Content-Type:
      - application/xml
      X-Taxii-Accept:
      - urn:taxii.mitre.org:message:xml:1.1
      X-Taxii-Content-Type:
      - urn:taxii.mitre.org:message:xml:1.1
      X-Taxii-Protocol:
      - urn:taxii.mitre.org:protocol:https:1.0
      Authorization:
      - Basic XXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
      X-Taxii-Content-Type:
      - urn:taxii.mitre.org:message:xml:1.1
      X-Taxii-Protocol:
      - urn:taxii.mitre.org:protocol:https:1.0
      X-Taxii-Services:
      - urn:taxii.mitre.org:services:1.1
      X-Remote-User-Name:
      - crondaemon
      X-Otx-Active:
      - '1'
    body:
      encoding: UTF-8
      string: |
        <taxii_11:Discovery_Response xmlns:taxii="http://taxii.mitre.org/messages/taxii_xml_binding-1" xmlns:taxii_11="http://taxii.mitre.org/messages/taxii_xml_binding-1.1" xmlns:tdq="http://taxii.mitre.org/query/taxii_default_query-1" message_id="90312988125992876" in_response_to="00168625617301953831">
          <taxii_11:Service_Instance service_type="DISCOVERY" service_version="urn:taxii.mitre.org:services:1.1" available="true">
            <taxii_11:Protocol_Binding>urn:taxii.mitre.org:protocol:https:1.0</taxii_11:Protocol_Binding>
            <taxii_11:Address>https://otx.alienvault.com/taxii/discovery</taxii_11:Address>
            <taxii_11:Message_Binding>urn:taxii.mitre.org:message:xml:1.1</taxii_11:Message_Binding>
            <taxii_11:Message>OTX Taxii Discovery</taxii_11:Message>
          </taxii_11:Service_Instance>
          <taxii_11:Service_Instance service_type="COLLECTION_MANAGEMENT" service_version="urn:taxii.mitre.org:services:1.1" available="true">
            <taxii_11:Protocol_Binding>urn:taxii.mitre.org:protocol:https:1.0</taxii_11:Protocol_Binding>
            <taxii_11:Address>https://otx.alienvault.com/taxii/collections</taxii_11:Address>
            <taxii_11:Message_Binding>urn:taxii.mitre.org:message:xml:1.1</taxii_11:Message_Binding>
            <taxii_11:Message>OTX Taxii Collections</taxii_11:Message>
          </taxii_11:Service_Instance>
          <taxii_11:Service_Instance service_type="POLL" service_version="urn:taxii.mitre.org:services:1.1" available="true">
            <taxii_11:Protocol_Binding>urn:taxii.mitre.org:protocol:https:1.0</taxii_11:Protocol_Binding>
            <taxii_11:Address>https://otx.alienvault.com/taxii/poll</taxii_11:Address>
            <taxii_11:Message_Binding>urn:taxii.mitre.org:message:xml:1.1</taxii_11:Message_Binding>
            <taxii_11:Message>OTX Taxii Polling</taxii_11:Message>
          </taxii_11:Service_Instance>
        </taxii_11:Discovery_Response>
  recorded_at: Thu, 08 Jun 2023 20:29:33 GMT
- request:
    method: post
    uri: https://otx.alienvault.com/taxii/collections
    body:
      encoding: UTF-8
      string: <taxii_11:Collection_Information_Request xmlns:taxii="http://taxii.mitre.org/messages/taxii_xml_binding-1"
        xmlns:taxii_11="http://taxii.mitre.org/messages/taxii_xml_binding-1.1" xmlns:tdq="http://taxii.mitre.org/query/taxii_default_query-1"
        message_id="00168625617301953831"/>
    headers:
      X-Taxii-Services:
      - urn:taxii.mitre.org:services:1.1
      Content-Type:
      - application/xml
      X-Taxii-Protocol:
      - urn:taxii.mitre.org:protocol:https:1.0
      Authorization:
      - Basic XXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
      X-Taxii-Content-Type:
      - urn:taxii.mitre.org:message:xml:1.1
      X-Taxii-Protocol:
      - urn:taxii.mitre.org:protocol:https:1.0
      X-Taxii-Services:
      - urn:taxii.mitre.org:services:1.1
      X-Remote-User-Name:
      - crondaemon
      X-Otx-Active:
      - '1'
    body:
      encoding: UTF-8
      string: |
        <taxii_11:Collection_Information_Response xmlns:taxii="http://taxii.mitre.org/messages/taxii_xml_binding-1" xmlns:taxii_11="http://taxii.mitre.org/messages/taxii_xml_binding-1.1" xmlns:tdq="http://taxii.mitre.org/query/taxii_default_query-1" message_id="4196773008852467709" in_response_to="00168625617301953831">
          <taxii_11:Collection collection_name="user_AlienVault" collection_type="DATA_FEED" available="true">
            <taxii_11:Description>Data feed for user: AlienVault</taxii_11:Description>
            <taxii_11:Polling_Service>
              <taxii_11:Protocol_Binding>urn:taxii.mitre.org:protocol:https:1.0</taxii_11:Protocol_Binding>
              <taxii_11:Address>https://otx.alienvault.com/taxii/poll</taxii_11:Address>
              <taxii_11:Message_Binding>urn:taxii.mitre.org:message:xml:1.1</taxii_11:Message_Binding>
            </taxii_11:Polling_Service>
          </taxii_11:Collection>
          <taxii_11:Collection collection_name="user_crondaemon" collection_type="DATA_FEED" available="true">
            <taxii_11:Description>Data feed for user: crondaemon</taxii_11:Description>
            <taxii_11:Polling_Service>
              <taxii_11:Protocol_Binding>urn:taxii.mitre.org:protocol:https:1.0</taxii_11:Protocol_Binding>
              <taxii_11:Address>https://otx.alienvault.com/taxii/poll</taxii_11:Address>
              <taxii_11:Message_Binding>urn:taxii.mitre.org:message:xml:1.1</taxii_11:Message_Binding>
            </taxii_11:Polling_Service>
          </taxii_11:Collection>
        </taxii_11:Collection_Information_Response>
  recorded_at: Thu, 08 Jun 2023 20:29:33 GMT
[...]
